<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>端口二次验证页面</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="{{ url_for('static',filename='css/normalize.min.css') }}">
<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">

<script type="text/javascript">
    {% if status != 0 %}
        alert('{{msg}}');
        window.location.href = window.location.pathname;
    {% endif %}
</script>

</head>
<body>

<canvas></canvas>

<div class="form-wrapper">



  <form method="post" name='form1'>
    <p>当前IP地址：<b id='ip'>{{cur_ip}}</b></p>
    <p>已放行端口：<b id='port_list' style="font-size: 14px;">{{port_list}}</b></p>

    <label for="name">端口</label>
    <input type="text" id="port" name="port" placeholder="请输入端口号">
    
    <label for="password">口令密码:</label>
    <input type="password" id="password" name="password" placeholder="请输入口令密码">
    <input type="hidden" id="cur_ip" name="cur_ip" value="{{cur_ip}}">
    <div>
      <input style="background-color:rgb(28, 187, 28);color: aliceblue;" type="submit" name="allow" value="放行端口">
      <input style="background-color: crimson;color: aliceblue;" type="submit" name='ban' value="禁止端口">
    </div>

  </form>
</div>

<script src="{{ url_for('static',filename='js/script.js') }}">
  // document.form1.submit();
</script>

</body>
</html>
